.logo {
  font-size: 30px;
  color: #7A8085;
}

.logo span {
  color: #583B8B;
}

a:active {
  color: #583B8B;
}

.short-name {
  display: none;
}

.nav-link {
  margin: 0 8px;
}

@media all and (max-width: 652px) {
  .logo {
    font-size: 20px;
  }
  .full-name {
    display: none;
  }
  .short-name {
    display: block;
  }
}