.logo {
  font-size: 30px;
  color: #7A8085;
}

.logo span {
  color: #583B8B;
}

.logo-container {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container a {
  color: #000;
}

.logo-container a:hover {
  text-decoration: underline;
  color: #583B8B;
  font-weight: 400;
}

.short-name {
  display: none;
}

@media all and (max-width: 652px) {
  .logo {
    font-size: 20px;
  }
  .logo-container {
    width: 120px;
  }
  .full-name {
    display: none;
  }
  .short-name {
    display: block;
  }
}